.floating-alert {
    max-width: 50%; /* Limita el ancho para evitar desbordes */
    max-height: 58px;
  }
  
  .floating-alert-container {
    position: fixed;
    top: 20px; /* Espaciado desde la parte superior */
    right: 20px; /* Espaciado desde la parte derecha */
    z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
    display: flex;
    flex-direction: column; /* Apila las alertas verticalmente */
    gap: 10px; /* Espaciado entre alertas */
    width: 25%;
    min-width: 350px;
  }
  
  .floating-alert-container c-alert {
    /* Limita el ancho para evitar desbordes */
    align-self: flex-end;
  }


  .danger{
    color: red;
  }

  .boderDanger{
    border-color: red;
  }

  .alert{
    width: 100%;
  }

  .Select{
    border-radius: 6px;
    padding: 2px;
    width: auto;
  }

  c-modal-header {
    border-bottom: none !important;
  }

  c-modal-footer {
    border-top: none !important;
  }

 
  .btn > img{
    vertical-align: sub;
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }


  .table-overflow-x{
    justify-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    min-height: 65vh;
  }

  .color-danger{
    color: #e55353;
  }

  c-modal-footer{
    display: flex;
  }

  c-modal-footer > div{
    flex: 1;
  }

  c-modal-footer > div:nth-child(2){
    display: flex;
    justify-content: space-around;
  }